<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="one column">
    <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <a href="#!">www.arnold-design.ch</a>
        </div>
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!">
              <span></span>
            </a>
          </div>
          <ul class="nav-list">
          <li>
              <a href="#!">Bildergalerie</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Web Design</a>
                </li>
                <li>
                  <a href="#!">Web Development</a>
                </li>
                <li>
                  <a href="#!">Graphic Design</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">Atelier</a>
            </li>
            <li>
              <a href="#!">Pricing</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="half column">Half column</div>
  <div class="half column">Half column</div>
</div>
<!-- <div class="docs-wrapper u-no-max-width">
    <header id="navigation" class="p-navigation">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo">
          <a class="p-navigation__link" href="#">
            www.arnold-design.ch
          </a>
        </div>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>
      <nav class="p-navigation__nav" role="menubar">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__links" role="menu">
          <li class="p-navigation__link is-selected" role="menuitem">
            <a href="#">Bildergalerie</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a href="#">Atelier</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a href="#">Holz Design</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a href="#">Danke</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a href="#">Kontakt / Links</a>
          </li>
        </ul>
      </nav>
    </header>
</div> -->
<div>
  <router-outlet></router-outlet>
</div>