<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="one column">
    <section class="navigation">
      <div class="nav-container">
        <div class="brand">
          <a href="#!">www.arnold-design.ch</a>
        </div>
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!">
              <span></span>
            </a>
          </div>
          <ul class="nav-list">
          <li>
              <a href="#">Bildergalerie</a>
              <ul class="nav-dropdown">
                <li>
                  <a routerLink="/gallery/masken" href="">Masken</a>
                </li>
                <li>
                  <a routerLink="/gallery/customPainting" href="">Custom Painting</a>
                </li>
                <li>
                  <a routerLink="/gallery/bilder" href="">Bilder</a>
                </li>
                <li>
                  <a routerLink="/gallery/portrait" href="">Porträte</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/gallery/atelier" href="">Atelier</a>
            </li>
            <li>
              <a routerLink="/gallery/holzDesign" href="">Holz Design</a>
            </li>
            <li>
              <a routerLink="/danke" href="">Danke</a>
            </li>
            <li>
              <a routerLink="/kontakt" href="">Kontakt / Links</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="half column">Half column</div>
  <div class="half column">Half column</div>
</div>
<div>
  <router-outlet></router-outlet>
</div>